<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385670725036-q6pd818ff65260ebqqc3nuacrh3bgvct.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385670725036-q6pd818ff65260ebqqc3nuacrh3bgvct</string>
	<key>API_KEY</key>
	<string>AIzaSyCat8IscCVJk5unU8SCw6gKYkvMtAGsrls</string>
	<key>GCM_SENDER_ID</key>
	<string>385670725036</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-512f5</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-512f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385670725036:ios:1c6ad21137a2d586e10e09</string>
</dict>
</plist>